<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hackathon.baggage">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.TravelActivity">
        </activity>
        <activity android:name=".activities.PackCreateActivity">
        </activity>
        <activity android:name=".activities.TravelCreateActivity">
        </activity>
        <activity android:name=".activities.PackActivity">
        </activity>
        <activity android:name=".activities.PackRequestActivity">
        </activity>
        <activity android:name=".activities.TravelRequestActivity">
        </activity>
        <activity android:name=".activities.NotificationActivity">
        </activity>
        <activity android:name=".activities.StatusActivity">
        </activity>
        <activity android:name=".activities.PackageTravelSelectActivity">
        </activity>
        <activity android:name=".activities.TravelPackSelectActivity">
        </activity>
    </application>

</manifest>